* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  background-color: #ff8982;
  background-image: linear-gradient(120deg, #7d06c4 , #ff8982); }

a {
  color: #1e6bb8;
  text-decoration: underline; }
  a:hover {
    text-decoration: underline; }

img {
  float:left;
  padding:10px;
}
#children {max-width: 50%;}

.photo-thumbs {    
    width: 140px;
    padding: 5px;
    border-radius: 25px;
    height: 120px;
    }
.headshot {
  width:130px;
}
.burn0 {background-image: url("http://boomboomwomb.com/img/virgin.png");}
.burn1 {background-image: url("http://boomboomwomb.com/img/1burn.png");}
.burn2 {background-image: url("http://boomboomwomb.com/img/2burn.png");}
.burn3 {background-image: url("http://boomboomwomb.com/img/3burn.png");}
.burn4 {background-image: url("http://boomboomwomb.com/img/4burn.png");}


.burn-count{
  position: absolute;
  background-size: cover;
  background-position: center;
  right: 10px;
  padding: 18px;
  top: 70px;
}
#playa-name {
  text-align: center;
  color:black;
  margin: 0;
  padding: 0;
  font-size: 85%;
}
.wombat {
  position: relative;
  float:left;
  width:130px;
  height: 185px;
  /*border: 1px solid rgba(239, 176, 138, .5);*/
  padding: 0px 8px;
  margin: 5px;
  border-radius: 40px;
  background: rgba(239, 176, 138, 1);
}
#role {
  text-align: center;
  color: white;
  margin: 0;
  margin-top:4px;
  font-size: 76%;
}
.bbw {
  margin-top:-40px;
}
.hero {padding: 0;}
h3 {
  font-size:1.5em;o
  line-height:3;
}
.width50 {width:50%;}
.strong {font-weight:bold;}
.larger {font-size:150%;}
.indent {margin-left:100px;}

.float-left {float:left;}
.float-right {float:right;}
.imgWrap {
  position: relative;

}

.imgDescription {
  position: absolute;
/* top: 0; */o
bottom: 0;
/* left: 0; */
/* right: 0; */
background: rgba(244, 117, 255, 0.78);
padding: 10px;
  color: #fff;


  visibility: hidden;
  opacity: 0;

  -webkit-transition: visibility opacity 0.2s;
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.clear{
  clear:both;
}
.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.21);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

.page-header {
  color: #fff;
  text-align: center;
  background-color: #ff8982;
  background-image: linear-gradient(120deg, #7d06c4 , #ff8982); }


/*Media Queries*/

@media screen and (min-width: 64em) {
  .page-header {
    padding: 5rem 6rem;
    height:280px; }
  .project-name {
    font-size: 3.25rem; }
  .main-content {
    max-width: 64rem;
    padding: 2rem 4rem;
    margin: 0 auto;
    font-size: 1.1rem; }
  .site-footer {
    font-size: 1rem; }
  .btn {
    padding: 0.75rem 1rem; }
  }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem;
    height:160px; }
  .project-name {
    font-size: 2.25rem; }
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem; }
  .site-footer {
    font-size: 1rem; }
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; }
  }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem;
    height:110px; }
  .project-name {
    margin-top: 0;
    margin-bottom: 0.1rem;
    font-size: 1.75rem; } 
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem; }
  .site-footer {
    font-size: 0.9rem; }
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
  .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } 
  }
  @media (min-width: 801px) {
  .gcal {
    visibility: visible;}
  }
  @media (max-width: 800px) {
  .gcal {
    visibility: hidden;
    width:0;
    height: 0;}
  }


/*End of Media Queries*/

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
  font-size: 1rem;  }

.main-content {background:white;}

.main-content :first-child {
  margin-top: 0; }
.main-content img {
  max-width: 100%; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #7d06c4; }


.main-content p {
  margin-bottom: 1em; }
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  .main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
  margin-bottom: 1rem; }
  .main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  .main-content blockquote > :first-child {
    margin-top: 0; }
  .main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-content table th {
    font-weight: bold; }
  .main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-content dl {
  padding: 0; }
  .main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }
